body
{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover
}
.p
{
    color: black;
}
.or
{
    color: white;
    display: flex;
    margin: auto;
}
.background
{
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px black;
}
.loggin
{
    transition: 0.5s;
    padding: 4px;
    display: none;
}
.sing-up
{
    border: none;
    transition: 0.5s;
    padding: 4px;
    display: none;
}
.enterprise
{
    transition: 0.5s;
    display: none;
}
.client
{
    transition: 0.5s;
    display: none;
}
.active
{
    transition: 0.5s;
    display: flex;
}
.ui-button.full
{
    transition: 0.5s;
    width: 90%;
    background: black;
    color: white;
    border-color: black;
    margin-left: 5%;
    margin-right: 5%;
}
.ui-button.full:hover
{
    transition: 0.5s;
    background: black;
    opacity: 75%;
    border: none;
    height: auto;
}
.ui-button.full::selection
{
    border: none;
}
.hidden
{
    display: none;
}